MONGO_URI=mongodb://127.0.0.1:27017/intelligenttaskScheduler

PORT=5000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

NODE_ENV=development

SERVER_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000

MAX_ACTIVE_JOBS=3

MAX_DYNAMIC_WORKERS=4
DYNAMIC_WORKER_IDLE_TIMEOUT=120000
DYNAMIC_WORKER_SPAWN_COOLDOWN=10000

ENABLE_FAILURE_SIMULATION=false
FAILURE_RATE=0.15